$primary-color: #F0F0F4;
$secondary-color: #26313F;
$primary-text-color: #26313F;
$secondary-text-color: #686565;

$dark-primary-color: #151C25;
$dark-secondary-color: #55E5A4;
$dark-primary-text-color: #FFFFFF;
$dark-secondary-text-color: #A9A9A9;